<!DOCTYPE html> 
<html> 
    <head> 
        <title>Geolocation Test</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <style type="text/css" media="screen"> 
		#map_canvas{
			width: 480px;
			height: 320px;
		}
		</style> 
       <script language="JavaScript" src="{{=URL(r=request, c='static', f="jquery.js")}}"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
        <script type="text/javascript"> 
        	var map;
        	var initialLocation = new google.maps.LatLng(57.709032, 11.980046); //Lavasoft
        	var currentLocation;
        	var browserSupportFlag = new Boolean();
 
        	function mapInit() {
            	var mapOptions = {
                    	zoom: 16,
                    	mapTypeId: google.maps.MapTypeId.ROADMAP,
                    	center: initialLocation
                };
                map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
               	
				if (navigator.geolocation) {
               		browserSupportFlag = true;
                   	navigator.geolocation.getCurrentPosition(function(position) {
                       	currentLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                       	initialLocation = currentLocation;
						map.setCenter(initialLocation);
						markMyself(initialLocation);
						placeNotes(position.coords.latitude, position.coords.longitude);
                       	},	function() {
							//Failure handling
                            handleNoGeolocation(browserSupportFlag);
                        });
                } else {
                	browserSupportFlag = false;
                    handleNoGeolocation(browserSupportFlag);
                }
           	}
 
			function markMyself(myLocation) {
                image = "http://maps.google.com/mapfiles/arrow.png"
                var marker = new google.maps.Marker({
                    position: myLocation,
                	map: map,
                	icon: image 
                    });
			}
 
			function placeNotes(latitude, longitude) {
				$('#result').append('<p>' + latitude + ',' + longitude + '</p>');
				$.getJSON('{{=URL(r=request, c="default", f="call/json/getNotes")}}', 
						{"lat": latitude, "lng": longitude},
						function(data){
							$.each(data.notes, function(i, item){
								var marker = new google.maps.Marker({
									position: new google.maps.LatLng(item.lat, item.lng),
									map: map,
									title: item.title
								});
							});
						}
				);
				document.myform.lat.value = latitude.toString();
				document.myform.lng.value = longitude.toString();
			}
 
           	function handleNoGeolocation(errorFlag) {
				markMyself(initialLocation);
				placeNotes();
               	alert("errorFlag: " + errorFlag);
           	}
           	
           	$(function() {
               	mapInit();
          	});
        </script> 
    </head> 
    <body>
    	<div id="user_info">{{try:}}{{=auth.navbar(action=URL(request.application,'default','user'))}}{{except:pass}}</div>
        <div id="map_canvas"></div>
        <div id="result"></div>
        <div id="post">
<!--        	<form enctype="multipart/form-data" name="input_form"-->
<!--        	action="{{=URL(request.application, 'default', 'post')}}" method="post">-->
<!--        		What's your note?<br/>-->
<!--        		<input name="content" />-->
<!--        		<input name="lat" value="" type="hidden" />-->
<!--        		<input name="lng" value="" type="hidden" />-->
<!--        		<input type="submit" />-->
<!--        	</form>-->
        	{{=form}}
        </div>
    </body> 
</html>
